@import "tailwindcss";

:root {
  --background: #211515;
  --foreground: #F4F5F0;

  --brand-primary: #7b0017;
  --brand-secondary: #211515;
  --brand-accent: #AE8100;

  --brand-dark-1: #3A050F;
  --brand-dark-2: #E0DBD7;
  --brand-dark-3: #F4F5F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--brand-primary);
  --color-secondary: var(--brand-secondary);
  --color-accent: var(--brand-accent);

  --color-dark-1: var(--brand-dark-1);
  --color-dark-2: var(--brand-dark-2);
  --color-dark-3: var(--brand-dark-3);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #3A050F;
    --foreground: #F4F5F0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
